.typing-animation {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end) forwards;
}

.typing-done {
  width: 100%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.opacity-visible {
  opacity: 1;
}

.opacity-hidden {
  opacity: 0;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


