/* Add smooth transition effect to the visibility and opacity of the menu */
.abc {
  opacity: 1;
  pointer-events: auto;
  max-height: 1000px;
  transition: opacity 2s ease-in-out, max-height 2s ease-in-out;
}

/* Hide the menu by default */
.hidden {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
}

@media (min-width:767px ) {
  .abc {
    display: none;
  }
}
